In this project, our objective is to study the data and observe it's features, and then use the data to create a model which predicts the chance of heart stroke. We start by importing the libraries we require.

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [33]:
df = pd.read_csv('E:\Rough\d-healthcare-dataset-stroke-data.csv')

In [34]:
stroke = df.drop(columns='id', axis=1)
stroke.head(15)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,2,1
1,0,61.0,0,0,1,2,2,202.21,NaN,3,1
2,1,80.0,0,1,1,1,2,105.92,32.5,3,1
3,0,49.0,0,0,1,1,1,171.23,34.4,1,1
4,0,79.0,1,0,1,2,2,174.12,24.0,3,1
5,1,81.0,0,0,1,1,1,186.21,29.0,2,1
6,1,74.0,1,1,1,1,2,70.09,27.4,3,1
7,0,69.0,0,0,0,1,1,94.39,22.8,3,1
8,0,59.0,0,0,1,1,2,76.15,NaN,0,1
9,0,78.0,0,0,1,1,1,58.57,24.2,0,1
10,0,81.0,1,0,1,1,2,80.43,29.7,3,1
11,0,61.0,0,1,1,3,2,120.46,36.8,1,1
12,0,54.0,0,0,1,1,1,104.51,27.3,1,1
13,1,78.0,0,1,1,1,1,219.84,NaN,0,1
14,0,79.0,0,1,1,1,1,214.09,28.2,3,1

In [35]:
stroke.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [40]:
bmi = stroke['bmi']

bmi_mean = bmi.mean()
stroke = stroke.fillna(bmi_mean)

stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.600000,2,1
1,0,61.0,0,0,1,2,2,202.21,28.893237,3,1
2,1,80.0,0,1,1,1,2,105.92,32.500000,3,1
3,0,49.0,0,0,1,1,1,171.23,34.400000,1,1
4,0,79.0,1,0,1,2,2,174.12,24.000000,3,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,1,1,83.75,28.893237,3,0
5106,0,81.0,0,0,1,2,1,125.20,40.000000,3,0
5107,0,35.0,0,0,1,2,2,82.99,30.600000,3,0
5108,1,51.0,0,0,1,1,2,166.29,25.600000,2,0
5109,0,44.0,0,0,1,3,1,85.28,26.200000,0,0

In [52]:
x = stroke.drop(columns='stroke', axis=1)
y = stroke['stroke']

In [53]:
x.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64

In [54]:
bmi = x['bmi']

bmi_mean = bmi.mean()
x = x.fillna(bmi_mean)
x.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
dtype: int64

In [55]:
#now we split the data into train and test sets

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [56]:
#now we train our model

model = LogisticRegression()
model.fit(x_train, y_train)

c:\Users\Sumit\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [57]:
# model evaluation with accuracy score

x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

print(training_data_accuracy)

0.9508317025440313

In [59]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

print(test_data_accuracy)

0.9510763209393346

Gender: Male=1 Female=0 Other =2

Married: Yes 1 No 0

Work: Private 1 Self 2 Govt 3 No work 4 Children 5

Residence: Urban 1 Rural 2

Smoking Habit: Smokes 1 formerly smoked 2 never smoked 3 unknown 0

In [66]:
input={
    'gender': 1,
    'age': 24,
    'hypertension': 1,
    'heart_disease': 0,
    'ever_married': 0,
    'work_type': 2,
    'Residence_type': 1,
    'avg_glucose_level': 120,
    'bmi': 24,
    'smoking_status': 1, 
}
input_tuple = tuple(input.values())
input_data = np.asarray(input_tuple)
reshaped_data = input_data.reshape(1, -1)
prediction = model.predict(reshaped_data)

c:\Users\Sumit\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([[  1,  24,   1,   0,   0,   2,   1, 120,  24,   1]])